body{
    background-color: ivory;
}
h1{
    font-size: 40px;
}
input, label{
    margin: 10px;
    font-size: 20px;
    border-radius: 20px;
}
button{
    border-radius: 15px;
    font-size: 20px;
}
#map{
    height: 400px;
    width: 100%;
}