body {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-areas: "Header Header" "Aside Content" "Footer Footer";
  }
  
  h1 { grid-area: Header; }
  
  aside { grid-area: Aside; }
  
  main { grid-area: Content; }
  
  footer { grid-area: Footer; }
