body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.1fr 0.9fr 1fr;
    grid-template-areas: ". Content Content Content" "Aside Content Content Content" "Footer Footer Footer Footer";
  }
  
  footer { grid-area: Footer; }
  
  aside { grid-area: Aside; }
  
  section { grid-area: Content; }